* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0 auto;
  max-width: 850px;
  align-items: center;
  background-color: #222222;
  color: #975c6b;
  padding: 2.5rem 1rem;
  font-family: "Inter", sans-serif;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: "Merriweather", serif;
}

header .heading {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

header img {
  width: 45px;
}

header .title {
  font-size: 1.3rem;
}

header .subtitle {
  font-size: 0.7rem;
}

header .add-book-btn {
  align-self: center;
  background-color: #975c6b;
  border: none;
  border-radius: 0.5rem;
  font-family: inherit;
  font-weight: 700;
  color: #222222;
  padding: 0.7rem 1rem;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

/* DASHBOARD */

.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  gap: 1rem;
  text-align: center;
}

.dashboard-card {
  background-color: #975c6b;
  color: #222222;
  padding: 1rem;
  border-radius: 0.5rem;
}

.dashboard-card .label {
  font-size: 0.7rem;
}

@media (max-width: 430px) {
  .dashboard-card {
    min-width: 130px;
    max-width: 95%;
  }
}

/* SEARCH */

form {
  display: flex;
  gap: 1rem;
  width: 100%;
}

@media (max-width: 430px) {
  form {
    flex-direction: column;
  }
}

.search-wrapper {
  position: relative;
  flex: 1;
}

.search-field {
  padding: 0.4rem;
  padding-left: 2rem;
  border-radius: 0.3rem;
  border: none;
  font-family: inherit;
  font-size: 0.7rem;
  width: 100%;
}

.search-icon {
  position: absolute;
  color: #222222;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.search-select {
  padding: 0.4rem;
  border-radius: 0.3rem;
  border: none;
  font-family: inherit;
  font-size: 0.7rem;
}

/* BOOK CARD */

.books {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
}

.book-image {
  background-image: url("https://static.wikia.nocookie.net/harrypotter/images/7/7a/Harry_Potter_and_the_Philosopher%27s_Stone_%E2%80%93_Bloomsbury_2014_Children%27s_Edition_%28Paperback_and_Hardcover%29.jpg/revision/latest/scale-to-width-down/1200?cb=20170109041611");
  width: 100%;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0.5rem;
}

.book-info {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  color: #222222;
  background-color: #faf8ff;
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 0.5rem;
}

.book-title {
  font-family: "Merriweather", serif;
  font-size: 1rem;
}

.book-author {
  font-family: "Merriweather", serif;
  font-size: 0.6rem;
}

.books select {
  border-radius: 0.4rem;
  padding: 0.1rem;
  font-family: inherit;
  font-size: 0.7rem;
}

.book-rating button {
  border: none;
  background: none;
}

.rating {
  color: orange;
}

/* 
#534050
#975c6b
#d6806e
#fbb666
#f9f871
 */

/* <weight>: Use a value from 100 to 900
<uniquifier>: Use a unique and descriptive class name */

/* .inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* <weight>: Use a value from 300 to 900
<uniquifier>: Use a unique and descriptive class name */

/* .merriweather-<uniquifier> {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */
