* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0 auto;
  max-width: 850px;
  align-items: center;
  background-color: #222222;
  color: #975c6b;
  padding: 2.5rem 1rem;
  font-family: "Inter", sans-serif;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: "Merriweather", serif;
}

header .heading {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

header img {
  width: 45px;
}

header .title {
  font-size: 1.3rem;
}

header .subtitle {
  font-size: 0.7rem;
}

header .add-book-btn {
  align-self: center;
  background-color: #975c6b;
  border: none;
  border-radius: 0.5rem;
  font-family: inherit;
  font-weight: 700;
  color: #222222;
  padding: 0.7rem 1rem;
}

main {
  width: 100%;
}

/* DASHBOARD */

.dashboard {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.dashboard-card {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  align-items: center;
  min-width: 190px;
  max-width: 50%;
  background-color: #975c6b;
  color: #222222;
  padding: 1rem;
  border-radius: 0.5rem;
}

.dashboard-card .label {
  font-size: 0.7rem;
}

@media (max-width: 430px) {
  .dashboard-card {
    min-width: 160px;
    max-width: 50%;
  }
}

/* 
#534050
#975c6b
#d6806e
#fbb666
#f9f871
 */

/* <weight>: Use a value from 100 to 900
<uniquifier>: Use a unique and descriptive class name */

/* .inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* <weight>: Use a value from 300 to 900
<uniquifier>: Use a unique and descriptive class name */

/* .merriweather-<uniquifier> {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */
